name = "cloudflare_backend"
main = "src/index.ts"
compatibility_date = "2024-11-21"

# compatibility_flags = [ "nodejs_compat" ]

[vars]
DATABASE_URL="prisma://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiNTI4YjJlZTUtY2VmNS00ODA4LTlmMTctYWE5OGI1Yjg4NDkxIiwidGVuYW50X2lkIjoiMmFhNmU0NTNkZGEzYmVhZjhmNTgxNWVhNjVmMWNhMDhkNjRmMDZhZjkwMjIyNGU1MTdlNThhZDhkNGFiMmQyYyIsImludGVybmFsX3NlY3JldCI6IjI2NTY3NTFjLWUyMzEtNDNmYS04ZTMyLTY5ODM3OTFkMzI5NiJ9.QqAoHZNRnF_fh1QjIOPWgQN8qZ86CiIuz5Mcppq9U6I"

# [[kv_namespaces]]
# binding = "MY_KV_NAMESPACE"
# id = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# [[r2_buckets]]
# binding = "MY_BUCKET"
# bucket_name = "my-bucket"

# [[d1_databases]]
# binding = "DB"
# database_name = "my-database"
# database_id = ""

# [ai]
# binding = "AI"

# [observability]
# enabled = true
# head_sampling_rate = 1