
.card
{
    width:100%;
    height:300px;
    border: 1px solid #1a120b41;
    border-radius:15px;
    overflow: hidden;
    cursor: pointer;
}

.card > .card-img
{
    width:100%;
    height: 60%;
}

.card-img > img
{
    width:100%;
    height:100%;
}

.card-details
{
    padding: 10px;
}

.card-details h2
{
    color: #6C3428;
    text-align: center;
}

.card-details .location-details
{
    color: #DFA878;
    padding-bottom: 10px;
    border-bottom: 2px solid #795436;
    text-align: center;
}

.card-details .card-descp
{
    color: gray;
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin-top: 10px;
}
@media only screen and (max-width: 984px)
{

}


@media only screen and (max-width: 678px)
{
    .card
    {
        width:100%;
        height: 110px;
        display: flex;
    }

    .card > .card-img
    {
        width:30%;
        height: 100%;
    }

    .card > .card-details
    {
        width:70%;
    }

.card-details .card-descp
{
    -webkit-line-clamp: 2;
    font-size: 12px;
    text-align: left;

}

.card-details h2
{
    color: #6C3428;
    text-align: left;
}

.card-details .location-details
{
    color: #DFA878;
    padding-bottom: 0;
    border-bottom: 2px solid #795436;
    text-align: left;
}
.list-container a
{
    width: 100%;
}   
}