.filter-div
{
    padding: 10px;
}   

.filter-btn
{
    background-color: dodgerblue;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.list-container
{
    padding: 10px 30px;
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    grid-row-gap: 20px;
    grid-column-gap: 30px;
}

@media (max-width: 1024px) {
    .list-container {
      grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
  }
  
  @media (max-width: 678px) {
    .list-container {
      padding: 10px;
      grid-template-columns: repeat(1, 1fr);
    }
  }