

#navigationBar
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 10px;
    border-bottom: 4px solid #795436;
    position:sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #FFF9EF;
    /* filter:grayscale(100%); */
    /* filter:brightness(200%); */


}

#navigationBar > div
{
    width: 220px;
    height: 60px;
}

#navigationBar > div > img
{
    width: 100%;
    height: 100%;
}


#navigationBar > ul
{
    display: flex;
    list-style-type: none;
    margin:0;

}


#navigationBar > ul > li 
{
    padding: 0 10px;
    font-size: 20px;
    font-weight: 600;
    color: #795436;
}

#navigationBar h1
{
    letter-spacing: 2px;
}

@media only screen and (max-width: 678px)
{
    #navigationBar
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    #navigationBar h1
    {
        letter-spacing: 4px;
    }

}

